.extra-products {
  margin-top: 60px;
}

.extra-products__list {
  .reset-list();
  
  font-size: 14px;
  line-height: 1px;
  color: @color-gray-500;
}

.extra-products__item {
  padding-bottom: 25px;
  border-bottom: 1px solid @color-gray-150;
}

.extra-products__item:first-child {
  border-top: 1px solid @color-gray-150;
}

.extra-products__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.extra-products__order {
  margin-top: 25px;
}