.form {
  font-family: @oswald;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-black-200;
}

.form__title {
  font-size: 14px;
  color: @color-black-100;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 38px;
}

.form__submit {
  margin-top: 35px;
}

.form__notice {
  font-family: @arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: none;
}