.main-nav__toggle {
  width: 25px;
  height: 19px;

  background-color: transparent;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}