.page-footer {
  margin-top: 35px;
  background: @color-gray-100;

  &--index {
    margin-top: 0;
  }
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__logo {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;

  border-bottom: 1px solid @color-gray-300;

  @media (min-width: @desktop-width) {
    text-align: left;

    border-bottom: none;
  }
}

.page-footer__socials {
  padding-top: 22px;
  padding-bottom: 22px;

  border-bottom: 1px solid @color-gray-300;

  @media (min-width: @desktop-width) {
    border-bottom: none;
  }
}

.page-footer__copyright {
  padding-top: 30px;
  padding-bottom: 30px;
}