.page-header {
  padding-top: 12px;
  padding-bottom: 12px;

  border-bottom: 1px solid @color-gray-200;
}

.page-header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}