.page-header {
  padding-top: 12px;
  padding-bottom: 12px;

  border-bottom: 1px solid @medium-grey;
}

.page-header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}