.page-footer {
  margin-top: 30px;
  background-color: @color-gray-100;

  &--index {
    margin-top: 0;
  }
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 56px;
  }
}

.page-footer__logo {
  padding-top: 35px;
  padding-bottom: 26px;
  text-align: center;

  border-bottom: 1px solid @color-gray-300;
  
  @media (min-width: @tablet-width) {
    padding: 0;

    text-align: left;

    border-bottom: none;
  }
}

.page-footer__socials {
  padding-top: 22px;
  padding-bottom: 16px;

  border-bottom: 1px solid @color-gray-300;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.page-footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}