.product {
  padding-bottom: 25px;

  font-size: 12px;
  line-height: 16px;
  color: @color-gray-500;

  border-bottom: 1px solid @color-gray-150;
}

.product:first-child {
  border-top: 1px solid @color-gray-150;
}

.product__wrap {
  display: flex;
  align-items: center;
}