.promo {
  min-height: 480px;

  font-family: @oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: @color-white-100;

  background-image: url("../img/index-background-mobile@1x.jpg"), 
  linear-gradient(to bottom, @color-green-300 63.5%, @color-white-100 63.5%);
  background-repeat: no-repeat;
  background-position: top;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), 
    linear-gradient(to bottom, @color-green-300 63.5%, @color-white-100 63.5%);
  }

  @media (min-width: @tablet-width) {
    min-height: 852px;
    background: none;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: -130px;
    left: 18px;

    min-height: 695px;

    background-image: url("../img/index-background-desktop@1x.jpg"), 
    linear-gradient(to right, @color-white-100 50%, @color-green-300 50%);
    background-repeat: no-repeat;
    background-position: right top;
  }
}

.promo__wrap {
  position: relative;

  padding-top: 27px;

  @media (min-width: @tablet-width) {
    padding-top: 42px;
    padding-left: 88px;
    padding-right: 150px;

    text-align: left;
    color: @color-black-100;
  }

  @media (min-width: @desktop-width) {
    padding: 222px 640px 20px 64px;
  }

  &::after {
    content: "";

    position: absolute;
    top: 35%;
    left: 50%;

    width: 280px;
    height: 271px;
    background-image: url("../img/index-can-mobile@1x.png");

    transform: translate(-50%, 0);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
    }
     

     @media (min-width: @tablet-width) {
      top: 75%;
      left: 50%;

      width: 709px;
      height: 609px;

      background-image: url("../img/index-can-tablet@1x.jpg");
      z-index: -1;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/index-can-tablet@2x.jpg");
      }
    }

    @media (min-width: @desktop-width) {
      top: 31%;
      left: 58.5%;

      width: 552px;
      height: 499px;

      background-image: url("../img/index-can-desktop@1x.png");
      z-index: 1;
      
      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        width: 552px;
        height: 499px;
        background-image: url("../img/index-can-desktop@2x.png");
      }
    }
  }
}

.promo__title {
  margin: 0;
  font-weight: inherit;
  font-size: 36px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
  }
}

.promo__text {
  margin-top: 24px;
  font-weight: inherit;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-top: 40px;

    font-size: 20px;
  }
}

.promo__choose {
  margin-top: 302px;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
    width: 245px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 54px;
  }
}