.promo {
  position: relative;
}

.promo__info {
  min-height: 305px;
  padding: 30px 20px;
  
  font-family: @oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: @color-white-100;

  background-color: @color-green-100;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.promo__title {
  margin-top: 0;
  font-size: 36px;
  font-weight: inherit;
}

.promo__text {
  margin-top: 10px;

  font: inherit;
  text-transform: uppercase;
}

.promo__wrap {
  position: relative;
}

.promo__img {
  position: absolute;
  bottom: 40px;
}

.promo__choose {
  margin-top: 135px;
}
