.site-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-list__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: @black;
}