.socials__list {
  .reset-list();
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  margin-right: 37px;
  
  @media (min-width: @tablet-width) {
    margin-right: 28px;
  }
}

.socials__item:last-child {
  margin-right: 10px;

  @media (min-width: @tablet-width) {
    margin-right: -20px;
  }
}

.socials__icon {
  fill: @color-gray-470;

  &:hover,
  &:focus {
    fill: @color-green-100;
  }

  &:active {
    fill-opacity: 0.3;
  }

  &--vk {
    @media (min-width: @tablet-width) {
      width: 30px;
      height: 16px;
    }
  }

  &--insta {
    @media (min-width: @tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    @media (min-width: @tablet-width) {
      width: 14px;
      height: 28px;
    }
  }
}