.socials__list {
  .reset-list();
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  margin-right: 35px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  &:hover path,
  &:hover circle,
  &:focus path,
  &:focus circle {
    fill: @color-green-100;
  }

  &:active {
    fill-opacity: 0.3;
  }
}
